<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<h1>Редактирование пользователя</h1>

<form th:method="POST" th:action="@{/admin/users/edit(id=${user.id})}" th:object="${user}">

<!--    <form th:action="@{/admin/users/addUser}" th:object="${user}" th:method="POST">-->
        <label for="email"><b>Email</b></label>
        <input th:name="email" th:type="text" class="form-control" id="email" required/>
        <br>
        <label for="name"><b>Name</b></label>
        <input th:name="name" th:type="text" class="form-control" id="name" required/>
        <br>
        <label for="surname"><b>Company</b></label>
        <input th:name="company" th:type="text" class="form-control" id="surname" required/>
        <br>
        <label for="password"><b>Password</b></label>
        <input th:name="password" th:field="*{password}" th:type="password" class="form-control"
               id="password"/>
        <br>
        <label for="exampleFormControlSelect3"><b>Role</b></label>
        <select multiple size="2" name="select_role" class="form-control" id="exampleFormControlSelect3">
            <option th:each="role : ${role}" th:value="${role.getAuthority()}"
                    th:text="${role.getAuthority() == 'ROLE_ADMIN'} ? 'ADMIN' : 'USER'"></option>
        </select>
        <br>

    <div>
        <input type="submit" value="Сохранить"/>
    </div>
</form>
</body>
</html>