<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <style>
        {
            width: 300px
        ;
            height: 100px
        ;
        }
        .error {
            color: red;
        }

        input[type="text"], input[type="number"], input[type="password"], select {
            margin-bottom: 10px;
            padding: 8px;
            width: 300px;
        }

        input[type="submit"], input[type="button"] {
            margin-top: 10px;
            padding: 10px 15px;
        }
    </style>
</head>

<body>
<h1>Новый пользователь</h1>

<form th:action="@{/admin/users/addUser}" th:object="${user}" th:method="POST">
    <label for="email"><b>Email</b></label>
    <input th:name="email" th:type="text" class="form-control" id="email" required/>
    <br>
    <label for="name"><b>Name</b></label>
    <input th:name="name" th:type="text" class="form-control" id="name" required/>
    <br>
    <label for="surname"><b>Company</b></label>
    <input th:name="company" th:type="text" class="form-control" id="surname" required/>
    <br>
    <label for="password"><b>Password</b></label>
    <input th:name="password" th:field="*{password}" th:type="password" class="form-control"
           id="password"/>
    <br>
    <label for="exampleFormControlSelect3"><b>Role</b></label>
    <select multiple size="2" name="select_role" class="form-control" id="exampleFormControlSelect3">
        <option th:each="role : ${role}" th:value="${role.getAuthority()}"
                th:text="${role.getAuthority() == 'ROLE_ADMIN'} ? 'ADMIN' : 'USER'"></option>
    </select>
    <br>
    <div>
        <input type="submit" value="Добавить">
    </div>
</form>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>