
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        button {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Company</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.email}">email</td>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.company}">company</td>
        <td th:text="${user.shortRoles}">roles</td>
        <td>
            <a th:href="@{/admin/users/edit(id=${user.id})}" th:object="${user}" th:method="GET"> Редактировать</a>
            <form th:method="POST" th:action="@{/admin/users/delete(id=${user.id})}"
                  th:onsubmit="return confirm('Вы уверены, что хотите удалить этого пользователя?')" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
<br/>
<a th:href="@{/admin/users/addUser}">Добавить пользователя</a>
<form th:method="POST" th:action="@{/logout}" style="display:inline;">
    <button type="submit" class="logout-button">Выйти</button>
</form>
</body>
</html>